@import "../_variables";


.settingsContainer {
    margin-top: 3rem;

    .settingsSectionContainer {
        display: flex;
        flex-direction: column;
        gap: 3rem;
    }

    .settingsSection {
      

        .settingsLabelSection {
            padding-right: 4rem;

            .settingsLabel{
                font-size: nth($fontSize, 2);
                margin-bottom: 0.3rem;
                font-weight: 600;
                color: var(--text);
            }

            .settingsDescription {
                font-size: nth($fontSize, 2);
                color: var(--text-hover);

            }


            .settingsSectionButton {
                width: fit-content;
                font-size: nth($fontSize, 1);
                margin-top: 1.2rem;
                padding: 0 1rem;
                border-radius: 4px;
                height: 2rem;
            }
        }
        .settingsInputSection {

            .profileSection {
                gap: 2.5rem;

                .profileImage {
                    background:var(--primary);
                    font-weight: 500;
                }

                .deleteSection {
                    color: var(--text-secondary);
                    font-size: nth($fontSize, 2);
                    font-weight: 600;


                }

                .updateSection {
                    font-size: nth($fontSize, 2);
                    font-weight: 600;
                }
            }

            .deleteButton {
                width: fit-content;
                height: 2.5rem;
                background: var(--danger);
                border: none;
                font-size: nth($fontSize, 2);
                padding: 0 1.3rem;

            }

        }

        .settingsInput {
            height: 2.5rem;
            border: 1px solid var(--border);
            background: none;
            border-radius: 4px;
            color: var(--text);

            &::placeholder {
                color: var(--placeholder);
            }

         
        }

        .inviteEmailSection {
            gap: 1rem;

            .inviteInput {
                width: calc(100% - 8rem - 1rem);

                :global {
                    .ant-input-group  {
                        height: 100%;


                        .ant-input {
                            background-color: transparent !important;
                            color: var(--text-secondary);
                            height: 100%;
                            background:none;
                            border: none;
                      
                            &::placeholder {
                              color: var(--placeholder);
                            }
                          }
                      
                          .anticon.ant-input-clear-icon,
                          .ant-input-clear-icon {
                            color: var(--text-secondary);
                          }

                          .ant-input-group-addon {
                            border: none;
                          }
                    }
                }
            }

            .inviteRoleSelect {
                border: none;
                background: none;
                border-radius: 4px;
    
                :global {
                    .ant-select-selector {
                        background: none;
                        color: var(--text);
                        border: none;
                        border-radius: 4px;
    
                        .ant-select-selection-placeholder {
                            color: var(--placeholder);
                            padding: 0 2px;
                        }
    
                        .ant-select-selection-overflow {
                            padding: 0 2px;
                            gap: 2px;
                        }
    
                        .ant-select-selection-item {
                            color: var(--text);
                        }
    
                        .ant-select-selection-overflow-item {
                            .ant-select-selection-item {
                                background-color: var(--active-bg);
                            }
                        }
                    }
                    .ant-select-arrow,
                    .ant-select-selection-item-remove {
                        .anticon {
                            color: var(--text-500);
                        }
                    }
                }
            }

            .sendInviteButton {
                width: 8rem;
                height: 2.5rem;
                background: var(--primary);
                border: none;
                font-size: nth($fontSize, 2);
                font-weight: 600;
            }
        }

    }

    .settingsDivider {
        background: var(--border);
        margin: 3rem 0;
    }

}