@import "../_variables";

.loaderPageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    .loading {
        font-size: nth($fontSize, 9);
    }
}

.emptyStateContainer {
    background: none;
    min-height:14rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .emptyStateImage {
        object-fit: contain;
    }

    .emptyStateImageText {
        margin-top: 1.5rem;
        color: var(--text-secondary);
        font-size: nth($fontSize, 3);
        font-weight: 500;
    }

    .emptyStateImageSubText {
        margin-top: 0.2rem;
        color: var(--text-600);
    }
}
